In [1]:
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost/books_2')
connection = engine.connect()

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['merged_author', 'book_ratings', 'full_books', 'merged_publisher']

In [6]:
session = Session(engine)
inspector=inspect(engine)

In [7]:
merged_author=engine.execute('SELECT * FROM merged_author')
print(merged_author.keys())

RMKeyView(['author', 'gross_sales', 'units_sold', 'book_count', 'sale_price', 'id'])

In [8]:
book_ratings=engine.execute('SELECT * FROM book_ratings')
print(book_ratings.keys())

RMKeyView(['author', 'book_average_rating', 'id'])

In [9]:
full_books=engine.execute('SELECT * FROM full_books')
print(full_books.keys())

RMKeyView(['publishing_year', 'book_name', 'author', 'author_rating', 'book_average_rating', 'book_ratings_count', 'genre', 'gross_sales', 'publisher_revenue', 'sale_price', 'sales_rank', 'publisher', 'units_sold', 'decades', 'id'])

In [10]:
merged_publisher=engine.execute('SELECT * FROM merged_publisher')
print(merged_publisher.keys())

RMKeyView(['publisher', 'sale_price', 'publisher_revenue', 'gross_sales', 'units_sold', 'book_count', 'id'])

In [11]:
inspector.get_table_names()

['merged_author', 'book_ratings', 'full_books', 'merged_publisher']

In [12]:
authors = Base.classes.merged_author
book_counts = session.query(authors.author, authors.book_count)

In [13]:
auth_units_sold = session.query(authors.author, authors.units_sold)

In [16]:
ratings = Base.classes.book_ratings
book_ratings_1 = session.query(ratings.book_average_rating, ratings.author)

In [24]:
full_books = Base.classes.full_books
decades_560 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '-560-1899').all()
decades_560

[('The War of the Worlds', 15968.0, 3200),
 ("Tess of the d'Urbervilles: A Pure Woman Faithfully Presented", 9576.0, 2400),
 ('Madame Bovary', 9308.67, 2333),
 ('Candide', 8982.0, 1800),
 ('David Copperfield', 18394.85, 1615),
 ('Don Quijote de La Mancha', 13413.08, 1492),
 ('Heidi', 3730.65, 935),
 ('Tales of Caunterbury', 891.0, 900),
 ("Uncle Tom's Cabin or Life Among the Lowly", 1771.1, 890),
 ('Vingt Mille Lieues Sous les Mers', 3540.25, 595),
 ('Le tour du monde en quatre-vingts jours', 4434.45, 555),
 ('The Tragedie of King Lear', 2014.95, 505),
 ('The Complete Sherlock Holmes', 3180.02, 398),
 ('The Tragedy of Julius Caesar', 392.04, 396),
 ('The Taming of the Shrew', 2726.1, 390),
 ('Notre-Dame de Paris', 3013.71, 381),
 ('The Awakening', 371.25, 375),
 ('The Tempest', 1025.57, 343),
 ('Walden; or Life in the Woods', 2044.35, 315),
 ('The Merchant of Venice', 427.5, 285),
 ('Twelfth Night; or, What You Will', 1527.45, 255),
 ('Middlemarch', 186.12, 5076),
 ('Voyage au centre de la Terre', 1726.2, 4860),
 ('Inferno', 354.22, 4806),
 ('Paradise Lost', 868.26, 4698),
 ('The Woman in White', 768.46, 4158),
 ('Vanity Fair: A Novel Without a Hero', 149.49, 4077),
 ('Far from the Madding Crowd', 1997.73, 3969),
 ('Eventyr og historier', 708.58, 3834),
 ('Also sprach Zarathustra', 1030.71, 59400),
 ('North and South', 562.59, 58968),
 ('La Divina Commedia', 124.74, 46008),
 ('The Prince and the Pauper', 966.79, 43416),
 ('The Invisible Man', 117.81, 38016),
 ('Der Schweizerische Robinson', 355.81, 37584),
 ('A Scandal in Bohemia', 352.82, 35208),
 ('On the Origin of Species by Means of Natural Selection or the Preservation of Favoured Races in the Struggle for Life', 1033.85, 2943),
 ('The Jungle Book', 113.85, 2916),
 ('The Book of Mormon', 1366.86, 2916),
 ('The Strange Case of Dr. Jekyll and Mr. Hyde and Other Tales of Terror ', 568.86, 2889),
 ('nan', 856.14, 2889),
 ('Manifest der Kommunistischen Partei', 331.89, 4400),
 ('The Last of the Mohicans: A Narrative of 1757', 109.89, 4400),
 ('The Memoirs of Sherlock Holmes', 1230.9, 4320),
 ('Bleak House', 988.9, 4320),
 ('Through the Looking-Glass, and What Alice Found There', 216.91, 4280),
 ('The Complete Poems of Emily Dickinson', 543.91, 4280),
 ('Twelve Years a Slave', 543.91, 4240),
 ('The Red Badge of Courage', 1186.92, 108),
 ('The Island of Dr. Moreau', 640.93, 107),
 ('Et dukkehjem', 1588.94, 106)]

In [25]:
decades_1900 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1900-1909').all()
decades_1910 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1910-1919').all()
decades_1920 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1920-1929').all()
decades_1930 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1930-1939').all()
decades_1940 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1940-1949').all()

In [26]:
decades_1950 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1950-1959').all()
decades_1960 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1960-1969').all()
decades_1970 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1970-1979').all()
decades_1980 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1980-1989').all()
decades_1990 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '1990-1999').all()
decades_2000 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '2000-2009').all()
decades_2010 = session.query(full_books.book_name,full_books.gross_sales,full_books.units_sold).filter(full_books.decades == '2010-2020').all()

In [ ]:
merged_publisher = Base.classes.merged_publisher
book_counts = session.query(authors.author, merged_publisher.book_count)